header {
    height: 200px; background-color: tan;
}
nav.row {
    height: 60px; background-color: yellow;
}

footer {
    height: 50px; background-color: grey;
}
.row > article {
    min-height: 300px; background-color: lavender;
}
.row > aside{
    min-height: 300px; background-color: tan;
}